<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>rfmcubeapi</name>
	<displayName><![CDATA[Rfmcube Custom API module]]></displayName>
	<version><![CDATA[1.7.1]]></version>
	<description><![CDATA[Enhance the prestashop REST API to add more details to customers and orders]]></description>
	<author><![CDATA[Rfmcube srl]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
